@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+3:wght@200&family=Spline+Sans&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Spline Sans', sans-serif;
*/

$sans-serif: 'Poppins', sans-serif;
$serif: 'Source Sans 3', sans-serif;